body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
}

a {
  color: #336d46;
}

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}

#wrapper {}
#sidebar{
  overflow-y: scroll;
  height:calc(100vh - 100px);
}

#sidebar-wrapper {
  width: 250px;
}

.header {
  padding-top: 20px;
  padding-left: 96px;
  padding-bottom: 20px;
  width: 250px;
  border-bottom: 1px solid #DBDBDB;
  height:100px;
}
.header img {
  height: 60px;
}

.slider-handle {
  background-image: none;
  background-color: #fff;
  border: 1px solid #336d46;
}

.slider-selection {
  background-image: none;
  background-color: #336d46;
  box-shadow: none;
}

.slider-track {
  background-color: #d8d8d8;
  box-shadow: none;
}

.slider-track, .slider-selection, .slider-track-low, .slider-track-high {
  border-radius: 0px;
}

.fas {
  font-family: 'FontAwesome';
  font-style:normal;
}
#sidebar-wrapper .accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
}

#sidebar-wrapper .accordion .card-header.collapsed:after {
  content: "\f054";
}

#sidebar-wrapper .card {
  border: 0px;
}

#sidebar-wrapper .card-header {
  background-color: rgb(255,255,255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.btn-success {
  background-color: #336d46;
    border-color: #336d46;
}
